/ArrayClass.class
/Asus.class
/Book.class
/Company.class
/Datatypes.class
/GivenTask.class
/Helmet.class
/Mobile.class
/ParameterExamples.class
/Pattern.class
/RailwayStation.class
/Redmi.class
/Robot.class
/Runner.class
/School.class
/Telivision.class
/Temple.class
/VariableClass.class
/WashingMachine.class
/color.class
/methodClass.class
/newArray.class
/returnClass.class
/sound.class
